{% extends 'base.html.twig' %}

{% block title %}Favorites{% endblock %}

{% block body %}

<h1>Mes Favoris</h1>

{% for recette in recettes %}
    <div>
        <h3>{{ recette.titre }}</h3>
    </div>
{% else %}
    <p>Aucun favori.</p>
{% endfor %}

{% endblock %}