{% extends 'base.html.twig' %}

{% block body %}

<h1>RecipeHub</h1>

<p>Recettes publiées: {{ recettes|length }}</p>

{% for r in recettes %}
    <h3>{{ r.titre }}</h3>
    <p>{{ r.description }}</p>
{% else %}
    <p>Aucune recette</p>
{% endfor %}

{% endblock %}