{% extends 'base.html.twig' %}

{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    <h1>Nouvelle Recette</h1>
    {{ form_start(recetteForm) }}
        {{ form_widget(recetteForm) }}
        <button type="submit">Créer</button>
    {{ form_end(recetteForm) }}
{% endblock %}
