<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RecipeHub</title>
</head>
<body>

<nav>
    <a href="{{ path('recette_index') }}">Home</a>
    <a href="{{ path('recette_new') }}">New Recipe</a>
</nav>

<hr>

{% block body %}{% endblock %}

</body>
</html>